
.min-200{
	min-width: 250px;
}
.content-header{ height: auto !important; }.content-header .float-right{ margin-top: 1rem !important; }.content-header .header-info{ position: relative !important; }.mt-6{ margin-top: 4em;}
.custom-nav li{
	max-width: 100% !important;
}

.custom-nav li{
	max-width: 100% !important;
}
