
	.wd-100{
		width: 60px !important;
		min-width: 60px !important;
		max-width: 60px !important;
	}
	.wd-150{
		width: 100px !important;
		min-width: 100px !important;
		max-width: 100px !important;
	}
	.wd-230{
		width: 330px !important;
		min-width: 330px !important;
		max-width: 330px !important;
	}
	.d-bg-header th{
		/*background-color: #e64a19 !important;*/
	}
	.d-bg-header span{
		/*color: #fff !important;*/
	}
	.d-bg-header red{
		color: #f7f7f7 !important;
	}
